<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pet owners</title>
</head>
<body>
<h1 th:text="'List of ovner list'">Owner list</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Imię</td>
        <td>Nazwisko</td>
    </tr>
    </thead>
    <tr th:each="owner : ${owners}"></tr>
    <td th:text="${owner.id}"></td>
    <td th:text="${owner.firstname}"></td>
    <td th:text="${owner.lastName}"></td>
</table>
</body>
</html>